AirlinesReservation/AirlinesClient/Connected Services/ReservationService/ReservationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Services/ReservationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirlinesReservation.Models" />
  <xs:import schemaLocation="http://localhost:8080/Services/ReservationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AirlinesReservation.Models" minOccurs="0" name="flight" nillable="true" type="q1:Flight" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirlinesReservation.Models" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="number" type="q3:guid" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AirlinesReservation.Models" minOccurs="0" name="CheckReservationResult" nillable="true" type="q4:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AirlinesReservation.Models" minOccurs="0" name="ShowAllReservationResult" nillable="true" type="q5:ArrayOfReservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="user" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConfirmationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>