AirlinesReservation/AirlinesClient/Connected Services/ReservationService/ReservationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReservationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63764/Services/ReservationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63764/Services/ReservationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63764/Services/ReservationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirlinesReservation.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservationService_AddReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationService_AddReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_CheckReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationService_CheckReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_ShowAllReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationService_ShowAllReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_GetConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfirmation" />
  </wsdl:message>
  <wsdl:message name="IReservationService_GetConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfirmationResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservationService">
    <wsdl:operation name="AddReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/AddReservation" message="tns:IReservationService_AddReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/AddReservationResponse" message="tns:IReservationService_AddReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/CheckReservation" message="tns:IReservationService_CheckReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/CheckReservationResponse" message="tns:IReservationService_CheckReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/ShowAllReservation" message="tns:IReservationService_ShowAllReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/ShowAllReservationResponse" message="tns:IReservationService_ShowAllReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/GetConfirmation" message="tns:IReservationService_GetConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/GetConfirmationResponse" message="tns:IReservationService_GetConfirmation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservationService" type="tns:IReservationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddReservation">
      <soap:operation soapAction="http://tempuri.org/IReservationService/AddReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckReservation">
      <soap:operation soapAction="http://tempuri.org/IReservationService/CheckReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllReservation">
      <soap:operation soapAction="http://tempuri.org/IReservationService/ShowAllReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfirmation">
      <soap:operation soapAction="http://tempuri.org/IReservationService/GetConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationService">
    <wsdl:port name="BasicHttpBinding_IReservationService" binding="tns:BasicHttpBinding_IReservationService">
      <soap:address location="http://localhost:63764/Services/ReservationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>